
<div class="heard">
  <div class="heard_left">
    定向库
  </div>
  <div class="heard_right">
    <span class="heard_right_t">退出</span>
    <span>登入</span>
  </div>
</div>
<div class="title">
  <div class="title_t">欢迎使用定向库高佣CMS社群导购系统</div>
  <div class="title_b">三步即可拥有专业的导购商城</div>
</div>
<div class="icon">
  <img src="http://commission-toolbox.oss-cn-hangzhou.aliyuncs.com/front-end/home/step3-navigation.png" alt="">
</div>
<div class="icon_d">
  <img src="http://commission-toolbox.oss-cn-hangzhou.aliyuncs.com/front-end/home/success-large.png" alt="" class="icon_d_icon">
  <div class="icon_d_text">
    <img src="http://commission-toolbox.oss-cn-hangzhou.aliyuncs.com/front-end/home/success-small.png" alt="">
    <span>恭喜你成功创建导购商城</span>
  </div>
</div>
<div class="lianjei">
  <div class="lianjei_s">
    <span>你的导购原始链接：</span>
    <a href="#" class="lianjei_a">https://sourl.cn/WrR2SD?taobaoSessionKeyId={{taobaoSessionKeyId}} </a>
    <img src="http://commission-toolbox.oss-cn-hangzhou.aliyuncs.com/front-end/home/copy-logo.png">
    <span>复制</span>
  </div>
  <div class="lianjei_x">
    <span>你的导购短链接：</span>
    <a href="#"> https://sourl.cn/WrR2SD</a>
  </div>
</div>
<div class="content">
  <div class="content_title">你的导购网站功能</div>
  <img src="http://commission-toolbox.oss-cn-hangzhou.aliyuncs.com/front-end/home/page-view1.png" alt="" class="content_icon_l">
  <img src="http://commission-toolbox.oss-cn-hangzhou.aliyuncs.com/front-end/home/page-view2.png" alt="" class="content_icon_r">
</div>
<br/>
<br/>
<br/>
<br/>
