
<div class="gather_title">
  <div class="gather_title_content">
    <img (click)="jump2ContactList()"
         src="http://commission-toolbox.oss-cn-hangzhou.aliyuncs.com/front-end/content/back-logo.png" alt=""
         class="gather_title_icon1">
    <span>{{wechatGroupName}}</span>
    <img (click)="jump2Search()"
         src="http://commission-toolbox.oss-cn-hangzhou.aliyuncs.com/front-end/content/query-logo.png" alt="" class="gather_title_icon2">
  </div>
</div>

<div *ngFor="let wechatMessage of wechatMessages">
  <div class="time" *ngIf="wechatMessage.showDate">
    <span>{{wechatMessage.createdAt | wechatDatePipe }}</span>
  </div>
  <div class="active w" *ngIf="wechatMessage.messageType == WechatMessage.TYPE_IMAGE">
    <div class="active_icon">
      <img src="./img/touxiang.png" alt="">
    </div>
    <div class="active_content">
      <div class="active2_content_text">
        <img [src]="wechatMessage.imgUrl" alt="" style="width: 80px;height: 80px">
      </div>
    </div>
  </div>
  <div class="active w">
    <div class="active_icon">
      <img src="./img/touxiang.png" alt="">
    </div>
    <div class="active_content" *ngIf="wechatMessage.messageType == WechatMessage.TYPE_TEXT">
      <div class="active_content_text active3_content_text ">
        <p class="active_content_sj"></p>
        {{wechatMessage.content}}
      </div>
    </div>
  </div>
</div>


<div class="fool">
  <div class="fool_conteny_l">
    <img src="http://commission-toolbox.oss-cn-hangzhou.aliyuncs.com/front-end/content/home-logo.png" alt="">
    <span>首页社群</span>
  </div>
  <div class="fool_conteny_r">
    <img src="http://commission-toolbox.oss-cn-hangzhou.aliyuncs.com/front-end/content/share-logo.png" alt="">
    <span>分享</span>
  </div>
</div>
